*,
*::before,
*::after {
          box-sizing: border-box;
}

/* General */

@media (min-width:300px) {
    .showcase_title{
        font-size: 1rem;
    }
}

@media (min-width:600px) {
    .showcase_title{
        font-size: 1.875rem;
    }
}

.my_title{
    font-size: 2rem;
    padding-top: 1em;
}
/* Navbar */
.nav-color{
    /* background-color: #007EA7; */
    background-color: black;
}

/* Showcase */
.showcase_box_title{
    margin-top: 30vh;
}
.showcase_title{
    border: 1px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
    width: max-content;
    background-color: #007EA7;
    margin: auto;
    /* font-size: 30px; */
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
h1{
    margin: 0;
    padding: 0;
}
.showcase_box_contact{
margin-top: 10vh;
}
.showcase_contact{
    background-color: #00A8E8;
    /* font-size: 30px; */
    color: white;

}
.showcase{
    background-image: url(landing_background.png);
    background-size: cover;
    height: 100vh;
}

/* Servicios */

.general_icon{
    width: auto;
    height: 50px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.general-paragraph{
    font-size: 30px;
    padding: 12px;
}

/* Precios */
.precios{
    background-color: #007EA7;
    padding-bottom: 2em;
}

/* Precios */
.precios_rounded_box{
    background-color: white;
    border-radius: 73px;
    width: 37vw;
    margin: auto;
    /* margin-bottom: 10em; */
}

.precios_icon{
    margin-top: 2em;
}

@media (min-width:300px) {
    .precios_rounded_box{
        width: 80vw;
    }
}

@media (min-width:600px) {
    .precios_rounded_box{
        width: 37vw;
    }
}